ion-avatar{
    width: 45px;
    height: 45px;
}

ion-button, .container ion-toolbar, ion-title,ion-col, ion-row, ion-grid{
    background-color: black;
}


.title
{
    font-size: 25px;
}
.container ion-label{
    text-align: left;
    flex: 1 0 80%;
    background-color: black;
}
#trigger-notificaciones {
    height: 2em;
}
.container{
    display: flex;
   align-items: center;
   background-color: black;
}

.perfil, .notificaciones {
    flex: 1 0 auto;
    background-color: black;
    border: 50px;
}
