
<ion-grid>
    <ion-row *ngFor="let publicacion of publicacionesU">
        <ion-col>
            <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-card>
                    <ion-card-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="10">
                                </ion-col>
                                <ion-col size="1">
                                    <ion-button color="danger" (click)="borrarPublicacion(publicacion.index)">
                                        <ion-icon font-size="156px" name="trash"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="1">
                                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="{{publicacion.src}}" alt="">
                    </ion-card-content>
                        <ion-grid>
                            <ion-row>
                                {{publicacion.caption}}
                            </ion-row>
                            <ion-row>
                                <ion-col size="1">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </ion-col>
                                <ion-col size="1">
                                    <ion-icon name="chatbubble-outline"></ion-icon>
                                </ion-col>
                                <ion-col size="1">
                                    <ion-icon name="paper-plane-outline"></ion-icon>
                                </ion-col>
                                <ion-col size="1" offset="8">
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                </ion-card>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
