<ion-content>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card>
      <ion-card-content>
        <form>
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input size="12" type="text" required [(ngModel)]="usuario.email" name="email"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" required [(ngModel)]="usuario.password" name="pass"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input size="12" type="text" required [(ngModel)]="usuario.nombre" name="name"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Descripcion</ion-label>
              <ion-input size="12" type="text" required [(ngModel)]="usuario.descripcion" name="desc"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Edad</ion-label>
              <ion-input size="12" type="number" required [(ngModel)]="usuario.edad" name="age"></ion-input>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-button (click)="registrar()" color="danger" expand="block">Registrarse</ion-button>
                <ion-button (click)="tomarFoto()" color="warning" expand="block">Seleccionar foto</ion-button>
                <a class="small-text" [routerLink]="['/login']" >Ya tienes cuenta?</a>
              </ion-col>
            </ion-row>
          </form>
          <img src="{{imagen}}" style="display:block; margin:auto; width: 30%" alt="">
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>